@media screen and (max-width:650px) {
    .conteudo {
        width: 10%;
        margin-top: 1px;
        margin-left: -15px;
        height: 18px;
        display: inline;
    }
    .principal{
        font-size: 10px;
        margin-bottom: 20px;
    }
    .mochila{
        justify-content: center;
    }
    .adicionar{
        width: 200px;
        height: 200px;
    }
}